.header {
  height: 848px;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  background-image: url("../images/header/Bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; }
  .header__top {
    padding: 48px 26% 0 14.15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__logo:hover {
      color: #fbcb27; }
  .header__hire-us {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__hire-us:hover {
      color: #fbcb27; }
    .header__hire-us::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      right: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: block;
      width: 64px;
      height: 4px;
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      /* stylelint-enable */
      border-radius: 32px;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
    .header__hire-us:hover::after {
      background-color: #334563; }
  .header__bottom {
    padding: 76px 20% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 22px; }
  .header__paragraph {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 42px;
    white-space: nowrap; }
  .header__button {
    width: 226px;
    height: 56px;
    background-color: #fff;
    border-radius: 64px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1px;
    color: #253757;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s; }
    .header__button:hover {
      color: #fff;
      background-color: #fbcb27; }

@media (min-width: 1921px) {
  .header__top {
    padding: 48px 227px 0; } }

@media (max-width: 1250px) {
  .header__title {
    white-space: nowrap; } }

@media (max-width: 1150px) {
  .header__top {
    padding: 48px 14.15% 0; } }

@media (max-width: 1130px) {
  .header__title {
    white-space: nowrap; }
  .header__paragraph {
    width: 90%;
    white-space: normal; }
  .header__bottom {
    padding-top: 39px; } }

@media (max-width: 950px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__logo {
    margin-bottom: 40px; }
  .header__title {
    font-size: 32px;
    color: #253757; }
  .header__paragraph {
    color: #253757; } }

@media (max-width: 700px) {
  .header {
    background-color: #56ccf2; }
    .header__paragraph {
      font-size: 20px; }
    .header__button {
      background-color: #253757;
      color: #fff; } }

@media (max-width: 600px) {
  .header__title {
    white-space: nowrap; } }

@media (max-width: 500px) {
  .header__title {
    white-space: normal; } }

@media (max-width: 320px) {
  .header {
    height: 888px; }
    .header__title {
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      margin: 0 auto 20px; }
    .header__button {
      margin: 0 auto;
      width: 163px; } }

/*# sourceMappingURL=header.css.map */
