html {
  font-family: Muli, sans-serif;
  font-style: normal;
  line-height: 1; }

body,
a,
hr,
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

body {
  background-color: #fcfcfd; }

@media (max-width: 950px) {
  .mob__hidden {
    display: none; } }

.bg__header {
  /* stylelint-disable */
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #56ccf2), color-stop(50%, #fcfcfd));
  background: linear-gradient(90deg, #56ccf2 50%, #fcfcfd 50%);
  /* stylelint-enable */ }

.bg__features {
  background: #56ccf2; }

.bg__services,
.bg__apply,
.bg__testimonials,
.bg__contact-us,
.bg__footer {
  background-color: #fff; }

@media (max-width: 1150px) {
  .bg__header {
    background: #fcfcfd; } }

.header {
  height: 848px;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  background-image: url("../images/header/Bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; }
  .header__top {
    padding: 48px 26% 0 14.15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__logo:hover {
      color: #fbcb27; }
  .header__hire-us {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__hire-us:hover {
      color: #fbcb27; }
    .header__hire-us::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      right: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: block;
      width: 64px;
      height: 4px;
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      /* stylelint-enable */
      border-radius: 32px;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
    .header__hire-us:hover::after {
      background-color: #334563; }
  .header__bottom {
    padding: 76px 20% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 22px; }
  .header__paragraph {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 42px;
    white-space: nowrap; }
  .header__button {
    width: 226px;
    height: 56px;
    background-color: #fff;
    border-radius: 64px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1px;
    color: #253757;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s; }
    .header__button:hover {
      color: #fff;
      background-color: #fbcb27; }

@media (min-width: 1921px) {
  .header__top {
    padding: 48px 227px 0; } }

@media (max-width: 1250px) {
  .header__title {
    white-space: nowrap; } }

@media (max-width: 1150px) {
  .header__top {
    padding: 48px 14.15% 0; } }

@media (max-width: 1130px) {
  .header__title {
    white-space: nowrap; }
  .header__paragraph {
    width: 90%;
    white-space: normal; }
  .header__bottom {
    padding-top: 39px; } }

@media (max-width: 950px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__logo {
    margin-bottom: 40px; }
  .header__title {
    font-size: 32px;
    color: #253757; }
  .header__paragraph {
    color: #253757; } }

@media (max-width: 700px) {
  .header {
    background-color: #56ccf2; }
    .header__paragraph {
      font-size: 20px; }
    .header__button {
      background-color: #253757;
      color: #fff; } }

@media (max-width: 600px) {
  .header__title {
    white-space: nowrap; } }

@media (max-width: 500px) {
  .header__title {
    white-space: normal; } }

@media (max-width: 320px) {
  .header {
    height: 888px; }
    .header__title {
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      margin: 0 auto 20px; }
    .header__button {
      margin: 0 auto;
      width: 163px; } }

.nav {
  width: 558px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5; }
  .nav__link {
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #fbcb27; }
    .nav__link--dark {
      color: #253757; }

@media (max-width: 1130px) {
  .nav__list {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (max-width: 950px) {
  .nav__item {
    margin-bottom: 20px; }
  .nav__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 700px) {
  .nav {
    width: 100%; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.gallery {
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: -320px auto 0;
  padding: 0 14.15%; }
  .gallery__elements {
    position: relative;
    max-width: 1146px;
    margin: 0 auto; }
  .gallery__img {
    width: 100%;
    height: 640px;
    /* stylelint-disable */
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(37, 55, 87, 0.1)), to(rgba(37, 55, 87, 0.1))), url("../images/slider/slide-img-1.jpg") no-repeat center;
    background: linear-gradient(0deg, rgba(37, 55, 87, 0.1), rgba(37, 55, 87, 0.1)), url("../images/slider/slide-img-1.jpg") no-repeat center;
    /* stylelint-enable */
    background-size: cover;
    background-blend-mode: multiply, normal; }
  .gallery__article {
    position: absolute;
    left: 98px;
    bottom: 86px; }
  .gallery__photo-title {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    margin-bottom: 4px; }
  .gallery__text {
    font-weight: 900;
    font-size: 19.6px;
    line-height: 1.4;
    color: #fff; }
  .gallery__sn-list {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 19px;
    height: 416px;
    list-style: none;
    top: 50%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    right: -64px; }
  .gallery__sn-item {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: center center;
            transform-origin: center center; }
  .gallery__sn-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    line-height: 1.5;
    color: #253757;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .gallery__sn-link:hover {
      color: #fbcb27; }

@media (min-width: 1921px) {
  .gallery {
    padding: 0 227px; } }

@media (max-width: 1130px) {
  .gallery {
    margin: -210px auto 0; }
    .gallery__img {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(37, 55, 87, 0.5)), to(rgba(37, 55, 87, 0.3))), url("../images/slider/slide-img-1.jpg") no-repeat center;
      background: linear-gradient(0deg, rgba(37, 55, 87, 0.5), rgba(37, 55, 87, 0.3)), url("../images/slider/slide-img-1.jpg") no-repeat center;
      /* stylelint-enable */
      height: 420px; } }

@media (max-width: 950px) {
  .gallery__sn-list {
    display: none; } }

@media (max-width: 700px) {
  .gallery {
    margin: -107.5px auto 0; }
    .gallery__img {
      height: 315px;
      background-size: cover; } }

@media (max-width: 500px) {
  .gallery {
    margin: 0 auto;
    padding: 0; }
    .gallery__article {
      left: 47px;
      bottom: 43px; } }

.slider {
  width: 162px;
  height: 64px;
  position: absolute;
  /* stylelint-disable */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
  /* stylelint-enable */
  border-radius: 50px;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .slider__item {
    border: 0;
    width: 12px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    bottom: 50%;
    cursor: pointer; }
    .slider__item--left {
      background-image: url("../images/slider/arrow-left.svg");
      left: 40px;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: background 0.3s;
      transition: background 0.3s; }
      .slider__item--left:hover {
        border-radius: 5px;
        /* stylelint-disable */
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(86, 204, 242, 0.5))), url("../images/slider/arrow-left.svg");
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(86, 204, 242, 0.5)), url("../images/slider/arrow-left.svg");
        /* stylelint-enable */ }
    .slider__item--right {
      background-image: url("../images/slider/arrow-right.svg");
      right: 40px;
      -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
      -webkit-transition: background 0.3s;
      transition: background 0.3s; }
      .slider__item--right:hover {
        border-radius: 5px;
        /* stylelint-disable */
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(86, 204, 242, 0.5))), url("../images/slider/arrow-right.svg");
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(86, 204, 242, 0.5)), url("../images/slider/arrow-right.svg");
        /* stylelint-enable */ }

@media (max-width: 1130px) {
  .slider {
    top: 100%;
    left: 50%; } }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .title__img {
    width: 21px;
    height: 21px;
    margin-right: 16px; }
  .title__text {
    font-weight: 800;
    font-size: 16px;
    line-height: 32px;
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .title__text--white {
      color: #fff; }

.welcome {
  padding: 165px 14.15% 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcfcfd; }
  .welcome__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #253757; }
  .welcome__title {
    margin-bottom: 19px; }

@media (max-width: 950px) {
  .welcome {
    padding: 80px 14.15%; }
    .welcome__text {
      white-space: normal;
      font-size: 20px; } }

.services {
  padding: 160px 14.15%;
  margin: 0 auto;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }
  .services__title {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 48px;
    font-weight: 900;
    font-size: 48px;
    color: #253757;
    white-space: nowrap;
    position: absolute;
    top: -24px;
    left: 0;
    right: 0;
    margin: 0 auto; }

@media (min-width: 1921px) {
  .services {
    padding: 160px 227px; } }

@media (max-width: 950px) {
  .services {
    padding: 80px 14.15%; } }

@media (max-width: 500px) {
  .services__title {
    font-size: 36px;
    top: -18px; } }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 264px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 128px;
     -moz-column-gap: 128px;
          column-gap: 128px; }
  .cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .cards__img {
    height: 160px;
    width: 160px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-box-shadow: 32px 32px 64px rgba(86, 204, 242, 0.05);
            box-shadow: 32px 32px 64px rgba(86, 204, 242, 0.05);
    border-radius: 50%;
    margin-bottom: 64px; }
  .cards__title {
    font-weight: 900;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 32px;
    color: #253757; }
  .cards__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #334563; }

@media (max-width: 1150px) {
  .cards {
    -webkit-column-gap: 64px;
       -moz-column-gap: 64px;
            column-gap: 64px; } }

@media (max-width: 1130px) {
  .cards {
    grid-template-columns: repeat(2, 264px);
    gap: 64px; }
    .cards__item:last-child {
      margin: 0 calc(50% + 132px);
      width: 264px; }
    .cards__img {
      margin: 0 auto 64px; } }

@media (max-width: 950px) {
  .cards {
    grid-template-columns: 264px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .cards__item:last-child {
      margin: 0;
      white-space: normal; } }

.process {
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 160px 14.15% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fcfcfd; }
  .process__article {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .process__title {
    margin-bottom: 19px; }
  .process__label {
    font-weight: 900;
    font-size: 32px;
    color: #253757;
    line-height: 1.4;
    margin-bottom: 64px; }
  .process__paragraph {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #334563;
    mix-blend-mode: normal; }

@media (min-width: 1921px) {
  .process {
    padding: 160px 227px 0; } }

@media (max-width: 1150px) {
  .process__article {
    margin-right: 20px; } }

@media (max-width: 1130px) {
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 14.15%; }
    .process__article {
      margin-right: 0; } }

.steps {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  -webkit-column-gap: 58px;
     -moz-column-gap: 58px;
          column-gap: 58px;
  row-gap: 128px; }
  .steps__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    background-color: #fff; }
    .steps__item:first-child, .steps__item:nth-child(3) {
      position: relative;
      top: 177px; }
    .steps__item:last-child, .steps__item:nth-child(2) {
      position: relative;
      top: 65px; }
  .steps__ellipse-container {
    position: relative;
    margin-top: 48px;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .steps__ellipse {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: 0.1; }
    .steps__ellipse--blue {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
      /* stylelint-enable */ }
    .steps__ellipse--orange {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      /* stylelint-enable */ }
    .steps__ellipse--green {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #c4c4c4;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4;
      /* stylelint-enable */ }
    .steps__ellipse--red {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
      /* stylelint-enable */ }
  .steps__span {
    font-weight: 900;
    font-size: 40px;
    position: absolute;
    display: block;
    bottom: -20px;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0); }
    .steps__span--blue {
      color: #56ccf2; }
    .steps__span--orange {
      color: #fcc304; }
    .steps__span--green {
      color: #03d542; }
    .steps__span--red {
      color: #f25656; }
  .steps__paragraph {
    padding: 0 32px 48px;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 1.5;
    color: #253757; }

@media (max-width: 1130px) {
  .steps__item:first-child, .steps__item:nth-child(3) {
    position: relative;
    top: 85px; }
  .steps__item:last-child, .steps__item:nth-child(2) {
    position: relative;
    top: 40px; } }

@media (max-width: 600px) {
  .steps {
    grid-template-columns: 240px;
    row-gap: 30px; }
    .steps__item:first-child, .steps__item:nth-child(3) {
      top: 40px; }
    .steps__item:last-child, .steps__item:nth-child(2) {
      top: 40px; } }

.features {
  background-image: url("../images/features/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 198px 14.15% 160px;
  margin: 0 auto;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .features__title {
    margin-bottom: 19px; }
  .features__label {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.4;
    color: #253757;
    margin-bottom: 69px; }
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px; }
    .features__item:last-child {
      margin-bottom: 0; }
  .features__sticker {
    height: 64px;
    width: 64px;
    margin-right: 32px; }
  .features__paragraph {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #fff; }

@media (min-width: 1921px) {
  .features {
    padding: 198px 227px 160px; } }

@media (max-width: 1130px) {
  .features {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(37, 55, 87, 0.3)), to(rgba(37, 55, 87, 0.3))), url("../images/features/Bg.png") no-repeat center;
    background: linear-gradient(0deg, rgba(37, 55, 87, 0.3), rgba(37, 55, 87, 0.3)), url("../images/features/Bg.png") no-repeat center;
    /* stylelint-enable */
    background-size: cover; } }

@media (max-width: 950px) {
  .features {
    padding: calc(80px * 1.5) 14.15%; }
    .features__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .features__sticker {
      margin-bottom: 20px; } }

.testimonials {
  padding: 165px 14.15% 48px;
  margin: 0 auto;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .testimonials__title {
    margin-bottom: 19px; }
  .testimonials__label {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.4;
    color: #253757;
    margin-bottom: 86px; }

@media (min-width: 1921px) {
  .testimonials {
    padding: 165px 227px 48px; } }

@media (max-width: 950px) {
  .testimonials {
    padding: 80px 14.15%; } }

.quotes {
  display: grid;
  grid-template-columns: repeat(3, 314px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 78px;
     -moz-column-gap: 78px;
          column-gap: 78px; }
  .quotes__item {
    background: #fefefe;
    -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
            box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 36px 32px 58px; }
  .quotes__img {
    width: 126px;
    height: 196px; }
  .quotes__paragraph {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #253757; }
  .quotes__line {
    width: 64px;
    height: 2px;
    border-radius: 25%;
    margin: 31px 0; }
    .quotes__line--blue {
      background-color: #56ccf2; }
    .quotes__line--orange {
      background-color: #fcc304; }
    .quotes__line--red {
      background-color: #f25656; }
  .quotes__name {
    font-weight: bold;
    font-size: 12.6px;
    line-height: 1.5; }
  .quotes__position {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 1.5;
    letter-spacing: 2px; }
    .quotes__position--blue {
      color: #56ccf2; }
    .quotes__position--orange {
      color: #fcc304; }
    .quotes__position--red {
      color: #f25656; }

@media (max-width: 1130px) {
  .quotes {
    grid-template-columns: repeat(2, 314px);
    gap: 78px; }
    .quotes__item:last-child {
      margin-left: 197px;
      width: 314px; } }

@media (max-width: 950px) {
  .quotes {
    grid-template-columns: 314px; }
    .quotes__item:last-child {
      margin-left: 0;
      width: 100%; } }

.apply {
  background-image: url("../images/apply/rectangle-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 160px 0;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .apply__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .apply__title {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    color: #253757;
    margin-bottom: 57px; }
  .apply__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #334563;
    margin-bottom: 55px; }
  .apply__button {
    width: 226px;
    height: 56px;
    background-color: #2f80ed;
    border: 0;
    border-radius: 64px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    cursor: pointer;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s; }
    .apply__button:hover {
      color: #fff;
      background-color: #fbcb27; }

@media (max-width: 950px) {
  .apply {
    padding: 80px 14.15%;
    background-position: center;
    background-repeat: repeat; }
  __article {
    padding: 0 14.15%; } }

.contact-us {
  padding: 100px 14.15% 68px;
  margin: 0 auto;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (min-width: 1921px) {
  .contact-us {
    padding: 68px 227px 83px; } }

@media (max-width: 1130px) {
  .contact-us {
    padding: 80px 14.15% 0; } }

@media (max-width: 950px) {
  .contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .message__title {
    margin-bottom: 104px; }

@media (max-width: 950px) {
  .message__title {
    margin-bottom: 52px; }
  .message__form {
    margin-bottom: 60px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input {
    width: 656px;
    height: 41px;
    margin-bottom: 48px;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    color: #152032; }
    .form__input:last-of-type {
      margin-bottom: 105px; }
  .form__button {
    width: 226px;
    height: 56px;
    border: 0;
    border-radius: 64px;
    background-color: #2f80ed;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #fff;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s; }
    .form__button:hover {
      color: #fff;
      background-color: #fbcb27; }

@media (max-width: 1500px) {
  .form__input {
    width: 450px; } }

@media (max-width: 1150px) {
  .form__input {
    width: 400px; } }

@media (max-width: 1130px) {
  .form__input {
    width: 100%; }
    .form__input:last-of-type {
      margin-bottom: 75px; } }

@media (max-width: 950px) {
  .form__button {
    margin: 0 auto; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contacts__title {
    margin-bottom: 19px; }
  .contacts__label {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.4;
    color: #253757;
    margin-bottom: 43px; }
  .contacts__call {
    margin-bottom: 41px; }
  .contacts__visit {
    margin-bottom: 51px; }
  .contacts__text {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563; }
  .contacts__link {
    font-style: normal;
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .contacts__link:hover {
      color: #fbcb27; }

@media (max-width: 950px) {
  .contacts__sb {
    margin: 0 auto; } }

.sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 192px; }
  .sb__img {
    width: 32px;
    height: 36px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.footer {
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 68px 14.15% 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer__container {
    width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__info {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #253757; }

@media (min-width: 1921px) {
  .footer {
    padding: 68px 227px 83px; } }

@media (max-width: 950px) {
  .footer {
    padding: 34px 14.15% 41px; }
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.main {
  position: relative; }

/*# sourceMappingURL=main.css.map */
